<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 28.05.2020, 17:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is a post. But it's empty.</p>
        </div>

        <div>
            <p>published: 28.05.2020, 17:15</p>
            <h2><a href="">My second post</a></h2>
            <p>Another empty post. Nothing here.</p>
        </div>
    </body>
</html>